$fuente_principal : "Montserrat", sans-serif;

// Colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$color1: #2AC6DB;
$color2: #2A56DB;
$color3: #2A8EDB;
$color4: #2ADBB5;
$color5: #362ADB;
$color6: #73AEDB;



//media queries
$telefono: 480px;
$tablet: 768px;
$deskstop:1200px;
$deskstopXL: 1400px;