@use 'base/variables' as v;
@use 'base/mixins' as m;


.contenedor-contacto{
    background-color: v.$color6;
    padding: 0;

    .contenedor-contacto-parrafo{
        font-weight: 600;
        text-align: center;
        font-size: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 95%;
        margin: 5rem auto;
        margin-bottom: 2rem;
 
    }
}

.contenido-contacto{
    @include m.contenedor;
    
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 3rem;
    padding-bottom: 8rem;

    @include m.tablet{
        width: 60%;
    }
    @include m.deskstop{
        width: 30%;
    }
    .contacto{
        display: flex;
        gap: 1rem;
        align-items: center;
        
        img{
            width: 3rem;
            height: fit-content;
        }

        a{
            margin: 0;
            color: v.$negro;
            font-size: 1.8rem;
            
        }
       

    }
}

body{
    position: relative;
}

.logo-ws{
    z-index: 9999;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: fit-content;
}